* {
    margin: 0;
    padding: 0;
}
body {
    font-family:
        Source Sans Pro,
        Helvetica Neue,
        Arial,
        sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    background-color: #fff;
    z-index: 20;
}
.root {
    position: relative;
    width: 100%;
    height: 100%;
}
aside {
    width: 245px;
    position: fixed;
    left: -245px;
    border-right: 1px solid #eceef1;
    height: calc(100% - 0px);
    z-index: 30;
    box-sizing: border-box;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
}
aside div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #616161;
}
aside div h1 {
    padding: 10px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
aside div button {
    border: 0;
    display: block;
    outline: 0;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    background-color: #616161;
}
aside ul {
    padding-left: 15px;
    padding-right: 15px;
}
aside li {
    list-style: none;
    line-height: 30px;
}
aside li a {
    color: #87969d;
    display: block;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
aside li a.active {
    color: #42b983;
    font-weight: 400;
}
article .open {
    font-size: 24px;
    position: fixed;
    padding-top: 6px;
    padding-left: 10px;
}
article .title {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 46px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
}
article .attr {
    width: 600px;
    font-size: 12px;
    line-height: 36px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px dashed #eceef1;
}
article .attr span {
    margin-right: 20px;
}
article .attr span a {
    color: #42b983;
    text-decoration: none;
}
article .content {
    width: 600px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 1rem;
    box-sizing: border-box;
    padding-bottom: 1.2rem;
}
article .content p {
    font-size: 14px;
    margin-bottom: 8px;
}
article .content a {
    font-size: 14px;
    color: #42b983;
    text-decoration: none;
}
article .content img {
    max-width: 100%;
}
article .content font[size] {
    display: block;
    margin: 5px 0;
}
footer {
    height: 40px;
    padding-top: 7px;
    padding-left: 25px;
    padding-right: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: all 0.5s;
    background-color: #fff;
    z-index: 20;
}
footer div {
    color: #87969d;
    position: relative;
    height: 30px;
    line-height: 30px;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}
footer .prev {
    float: left;
    padding-left: 10px;
}
footer .next {
    float: right;
    text-align: right;
    padding-right: 10px;
}
footer .prev::before {
    top: 10px;
    left: 2px;
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    border-left: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
    transform: rotate(45deg);
}
footer .next::after {
    top: 10px;
    right: 2px;
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    border-top: 2px solid #dbdbdb;
    border-right: 2px solid #dbdbdb;
    transform: rotate(45deg);
}

.hasSide aside {
    left: 0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-device-width: 480px) {
    article .title,
    article .attr,
    article .content {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
    }
    footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}
